@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
:root {
  --color-grey: #afafaf;
  --color-blue: #2d7bcd;
  --color-orange: #cd832d;
  --color-yellow: #fed64c;
  --color-red: #cd2d2d;
  --color-white: #ffffff;
  --color-light: #f9f9f9;
  --color-light-blue: #ebf3fb;
  --color-black: #000000;
  --color-border: #ededed;
}

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  * {
    font-size: 1rem;
    text-decoration: none;
  }
  form {
    background-color: var(--color-light);
    border-radius: 3rem;
    padding: 0.75rem 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    input {
      min-width: 20rem;
      background-color: var(--color-light);
      border: none;
      outline: none;

      &::placeholder {
        color: var(--color-grey);
      }
    }
  }
  a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 500;
  }
  .nav-element {
    background-color: var(--color-light);
    border-radius: 100%;
    padding: 0.9rem;
  }
  #home {
    margin-right: auto;
  }
}

.landing {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .categories {
    width: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    .category {
      background-color: var(--color-white);
      border-radius: 3rem;
      border: 2px solid var(--color-border);
      color: var(--color-black);
      font-weight: 600;
      font-size: 1rem;
      padding: 1rem;
      text-decoration: none;

      display: flex;
      align-items: center;
      justify-content: center;
    }
    .selected-category {
      background-color: var(--color-light-blue);
      border: 2px solid var(--color-blue);
      color: var(--color-blue);
    }
  }

  .items {
    width: 100%;
    height: 100%;
    padding: 0rem 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.25rem, 1fr));
    gap: 1.5rem;
    .item {
      width: max-content;
      height: max-content;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.5rem;
      max-width: 12.25rem;

      .image {
        width: 12.25rem;
        height: 12.25rem;
        background-color: var(--color-light-blue);
        border-radius: 1rem;
        margin-bottom: 0.5rem;
        object-fit: cover;
      }
      h1 {
        font-size: 1rem;
        font-weight: 600;
        text-wrap: wrap;
      }
      .details {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        h2 {
          font-size: 0.75rem;
          font-weight: 600;
          color: var(--color-grey);
        }
        .dot {
          width: 0.25rem;
          height: 0.25rem;
          background-color: var(--color-grey);

          margin-right: auto;
        }
      }
    }
  }
}

.products-page {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 20rem 1fr;

  .categories-container {
    padding: 1.5rem 1rem 1.5rem 1rem;
    border-right: 1px solid var(--color-border);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .categories-header {
      width: 100%;
      padding-left: 1rem;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      img {
        padding: 1.25rem;
        border: 2px solid var(--color-border);
        border-radius: 100%;
      }
      h1 {
        font-size: 1rem;
        font-weight: 600;
      }
    }
    .categories {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .category {
        padding: 1rem;
        border-radius: 3rem;
        text-decoration: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-size: 1rem;
          font-weight: 500;
          color: var(--color-black);
        }
        button {
          visibility: hidden;
          border-radius: 100%;
          padding: 0.2rem;

          display: flex;
          align-items: center;
          justify-content: center;
        }
        &:hover {
          background-color: var(--color-light);

          cursor: pointer;

          button {
            visibility: visible;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .selected-category {
        background-color: var(--color-light-blue);
        h3 {
          color: var(--color-blue);
        }
      }
    }
  }
  .products-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .products-header {
      padding: 1.5rem 2rem 1rem 2rem;

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3.25rem;

      h1 {
        font-size: 1rem;
        font-weight: 600;
      }
      .disclaimer {
        color: var(--color-red);
      }

      .add-product-btn {
        border-radius: 3rem;
        padding: 1rem;
        padding-right: 2rem;
        border: 2px solid var(--color-border);
        background-color: var(--color-white);
        text-decoration: none;
        color: var(--color-black);

        margin-left: auto;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;

      .empty-product-list {
        color: var(--color-red);
      }
      button {
        width: 2rem;
        height: 2rem;
        padding: 0.5rem;
        border-radius: 3rem;
        background-color: var(--color-white);
        border: 1px solid var(--color-border);

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          cursor: pointer;
          background-color: var(--color-light);
        }
      }
      tr {
        th:first-child,
        td:first-child {
          padding-left: 2rem;
        }
        th:last-child,
        td:last-child {
          padding-right: 2rem;
          text-align: right;
        }
        th,
        td {
          text-align: left;
          text-wrap: nowrap;
        }
        th {
          padding-top: 1rem;
          padding-bottom: 1.5rem;
          border-top: 1px solid var(--color-border);
          border-bottom: 1px solid var(--color-border);
        }
        td:first-child {
          padding-top: 1rem;
        }
        td {
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
        }
      }
    }
  }
}

.popup-container {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #afafaf66;
  backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: center;

  .popup {
    z-index: 100;
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 1rem 2rem;

    h1 {
      font-size: 1rem;
      font-weight: 600;
      align-self: flex-start;
    }

    input {
      font-size: 1rem;
      padding: 1rem;
      border-radius: 3rem;
      background-color: var(--color-light);
      border: none;
    }
    button {
      width: 100%;
      padding: 1rem 0rem;
      border-radius: 3rem;
      border: none;
      background-color: var(--color-orange);
      color: var(--color-white);
      font-size: 1rem;
      font-weight: 500;
    }
  }
  .add-category-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    input {
      min-width: 20rem;
    }
  }
  .add-product-popup {
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      margin-bottom: 3rem;
    }
    button {
      margin-top: 2rem;
    }
    .flex-row {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .flex-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
      }
    }
    label {
      font-size: 1rem;
      font-weight: 500;
      align-self: flex-start;
    }
    input {
      width: 100%;
    }
    .dropdown-container {
      position: relative;
      width: 100%;
      background-color: var(--color-light);
      border-radius: 3rem;

      select {
        border-radius: 3rem;
        background: transparent;
        width: 100%;
        font-size: 1rem;
        padding: 1rem;
        border: none;
        appearance: none;
      }
      img {
        margin-right: 1rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
